# Ignore everything:
*

# Look at the files
!*/
!.gitignore
#Dive into Profiles
!/profiles/**
!/profiles/**/*
!/profiles/**/**/*
#Filter known server specific files
**.log
**.ADM
**.RPT
**.zip
/profiles/gamelabs.cfg
/profiles/@Logging/
/profiles/BattlEye/
/profiles/PermissionsFramework/Permissions/
/profiles/PermissionsFramework/Players/
/profiles/PermissionsFramework/Roles/
/profiles/DataCache/
/profiles/Users/Server/
/profiles/Users/Survivor/
/profiles/SurvivorZRP/FuelStation/
/profiles/TraderPlus/TraderPlusDatabase/
/profiles/TraderPlus/TraderPlusBankDatabase/
/profiles/TraderPlus/TraderPlusGarageDatabase/
/profiles/TraderPlus/TraderPlusLogs/
/profiles/Notes/
#Dive into mpmissions
!/mpmissions/empty.banov/**
!/mpmissions/empty.banov/**/*
!/mpmissions/empty.banov/**/**/*
#Filter Persistence
/mpmissions/empty.banov/storage_1
